.App {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.navbar,
.navbarf {
  display: flex;
  justify-content: center;
  background-color: rgb(252, 252, 170);
}
.navbar p {
  font-size: 38px;
  text-shadow: 30px;
  margin-bottom: 0px;
  text-shadow: 3px 2px rgb(90, 90, 88);
  color: rgb(94, 185, 185);
}

.note.new {
  background-color: rgb(179, 233, 255);
}
textarea {
  border: none;
  resize: none;
  border-radius: 20px;
  background-color: rgb(179, 233, 255);
}
.search {
  border-radius: 20px;
  background-color: rgb(252, 252, 170);
  color: black;
}
.Searcharea {
  background-color: rgb(252, 252, 170);
  color: black;
}
input {
  width: 80%;
}
textarea:focus {
  outline: none;
}
.save {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 14px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
}
.save:focus {
  border: none;
}
input {
  color: white !important;
}
input:focus {
  outline: none;
}
.save:hover {
  cursor: pointer;
  background-color: rgb(130, 226, 221);
  color: white;
}
.save:focus {
  outline: none;
}
/* .NoteListContainer{
  min-height:calc(100%);
} */
.note {
  min-height: 180px;
  background-color: rgb(252, 252, 170);
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.note-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.note-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}
.delete-icon {
  cursor: pointer;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 13px;
  background-color: rgb(252, 252, 170);
}
@media (max-width: 768px) {
  .navbar p {
    font-size: 25px;
  }
  .note-list {
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
